/* CSS styles in this file */

*
{
    font-family: digifont, monospace, serif; 
}

body
{
	background-color: #004080;
}

#console
{
	font-family: digifont, courier, monospace;
    font-variant: all-small-caps;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:20px;
}

a
{
	color: #0bc;
	text-decoration: none;
}

#color_a
{
	color: #0f0;
}
#color_b
{
	color: #ff0096;
}

#color_c
{
	color: #0bc;
}


#quote
{
    animation: change 1s;
}

#op
{
    	color: #888888
}

@keyframes change
{
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}